body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
}

.btnAdauga {
  background-color: #f0c040;
  border: none;
  color: black;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 4px;
  cursor: pointer;
  border-radius: 4px;
}
.recSlide {
  /* flex-direction: row; */
  /* align-items: center; */
  border-image: linear-gradient(to left, #00c853, #b2ff59) 30;
  border-width: 4px;
  border-style: solid;
  border-radius: 55px;
}

.recCard {
  /* background-color: #38761d; */
  padding: 1rem;
}

.rec-card-img-top {
  margin-top: 15px;
  border-radius: 55px;
  width: 100%;
  height: 230px;
}
.rec-rounded-card {
  /* border-radius: 55px; */

  /* background-color: #38761d; */

  height: 480px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-img-top {
  margin-top: 15px;
  border-radius: 55px;
  width: 100%;
  height: 270px;
}

.rounded-card {
  border-radius: 55px;
  height: 470px;
}

.imgThumbnail {
  height: 120px;
}

.listGroupDescription {
  border-radius: 25px;
  color: #010101;
  font-size: 16px;
  padding: 10px;
}

.description {
  font-weight: bold;
  word-spacing: 0.2em;
  font-size: 1.2rem;
}

.descriptionText {
  font-weight: bold;
  font-size: 0.9rem;
}

.app-container {
  background-image: url('../build/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.rating span {
  color: #ffc000;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 350px;
  max-height: 500px;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
  color: #38761d;
  font-size: x-large;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #eeeeee;
  transition: 0.5s;
}

.nav-item {
  color: #000000;
  font-size: large;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}

/* Map */

.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}

button.thumbnail {
  padding: 0;
}
.person-title {
  display: inline-block;
  vertical-align: middle;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.password-input {
  display: flex;
  align-items: center;
}

.password-toggle {
  margin-left: 10px;
  cursor: pointer;
}
.custom-form-group {
  margin-top: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  margin-right: 30px;
  border-radius: 8px;
  padding: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.search-form {
  margin-left: auto;
}

.search-input {
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.search-button {
  border-radius: 20px;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.search-button:hover {
  transform: translateY(-3px);
}

.table-header-row {
  background-color: #f8f8f8;
}

.table-header {
  font-weight: bold;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sort-label {
  font-weight: bold;
  color: #333;
}
.sort-select-container {
  position: relative;
  display: inline-block;
}

.sort-select {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 28px 4px 8px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s;
}

.sort-select::-ms-expand {
  display: none;
}

.sort-select-icon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  color: #888;
  font-size: 12px;
  pointer-events: none;
}

/* pentru chatScreen*/
/* Chatbox */
.full-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.chatbox {
  /* overflow: hidden; */
  /* display:  flex; */
  align-items: center;
  justify-content: center;
  color: #000000;
  position: relative;
  left: 1rem;
  bottom: 1rem;
  right: 1rem;
  background-color: #f0f0f0;
  inset: 1;
  border-radius: 50px; /*1*/
  border: 5px solid transparent; /*2*/
  background: repeating-radial-gradient(white, rgb(66, 255, 95) 10%, green 15%)
    border-box;

  padding: 1rem;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: row;
  width: 100%;
  /* height:770%; */
}

.chatbox ul {
  /* max-height: 20rem; */
  overflow-y: scroll;
  padding-right: 1rem;
  width: 100%;
  height: 100%;
}

.chatbox li {
  margin-bottom: 1rem;
  width: 100%;
}

.chatbox input {
  width: calc(100% - 9rem);
  padding: 0.5rem;
  border-radius: 50px;
  border: 10px solid #11b049;
  flex-grow: 1;
  background-color: #f8f8f8;
  background-color: #007bff;
}
.chatbox form {
  align-items: center;
  position: absolute;
  left: 20%;
  bottom: -45px;
  width: 60%;
  inset: 1;
  border-radius: 50px;
  border: 10px solid transparent;
  background: linear-gradient(
      90deg,
      rgba(14, 255, 74, 1),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0)
    )
    border-box;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.input-container input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-container button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.support-users {
  background: #f0f0f0;
  height: 100%;
  width: 200px;
}

.support-users li {
  display: flex;
  align-items: center;
  margin: 0;
  background-color: #f0f0f0;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.support-users li.selected {
  background-color: #c0c0c0;
}

.support-users button {
  background-color: transparent;
  border: none;
  text-align: left;
  flex: 1;
}

.support-users .user-info {
  display: flex;
  align-items: center;
}

.support-users .user-info span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}

.support-users .offline {
  background-color: #808080;
}

.support-users .online {
  background-color: #20a020;
}

.support-users .unread {
  background-color: #f02020;
}

.support-users li:hover {
  background-color: #f0f0f0;
}

.support-messages {
  padding: 1rem;
}
.support-messages input {
  width: calc(100% - 9rem);
}
.support-messages ul {
  height: calc(100vh - 18rem);
  max-height: calc(100vh - 18rem);
  overflow: scroll;
}
.support-messages li {
  margin-bottom: 1rem;
}

.support-users span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  margin-left: -25px;
  margin-top: 10px;
}

.chat-support-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.chat-support-button:hover {
  background-color: #0056b3;
}

.position-relative {
  position: relative;
}

.close-button {
  background: 'transparent';
  color: '#000';
  margin-right: 40px;
  font-size: '1rem';
  cursor: 'pointer';
}

.close-button:hover {
  color: grey;
}

/* contact screen */
.contact-container {
  text-align: center;
  padding: 20px;
}

.contact-title {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

.contact-details {
  margin-bottom: 20px;
}

.contact-info {
  margin-bottom: 10px;
}

.contact-image {
  width: 350px;
  height: 210px;
  border-radius: 5px;
}

.stock-label {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff6f61;
  color: white;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
}

.userChatBox {
  /* align-items: center;
  display: flex;
  justify-content: center; */
  height: 360px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 30px;
}
